<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h2>Create</h2>
<form th:action="@{/orderEntity/create}" th:object="${orderEntity}" method="post">
    <label for="name">Your Name: </label>
    <input id="name" type="text" name="orderEntity.customerName" required th:field="${orderEntity.customerName}"><br>
    <label for="shippingAddress">Shipping Address: </label>
    <input id="shippingAddress" type="text" th:field="${orderEntity.shippingAddress}"><br>
    <label for="total">Total: </label>
    <input type="number" th:field="*{orderEntity.total}" id="total"><br>
    <button type="submit">Create</button>
</form>
<a href="/orderEntity">Back to orderEntities</a>
</body>
</html>